<!-- begin login -->
<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-11.jpg)"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Almacen</b> App</h4>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> <b>Almacen</b> App
                <small>Práctica de Angular</small>
            </div>
            <div class="icon">
                <i class="fa fa-sign-in-alt"></i>
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
            <form (submit)="login()" class="margin-bottom-0" autocomplete="off" [formGroup]="loginForm">
                <div class="form-group m-b-15">
                    <input type="email" class="form-control form-control-lg" placeholder="Correo"
                        formControlName="correo" />
                    <div *ngIf="getControl.correo.invalid  && getControl.correo.touched" class="text-danger">
                        <div *ngIf="getControl.correo.errors?.required">
                            Correo requerido.
                        </div>
                        <div *ngIf="getControl.correo.errors?.email">
                            Debe ingresar un crreo valido.
                        </div>
                    </div>
                </div>
                <div class="form-group m-b-15">
                    <input type="password" class="form-control form-control-lg" placeholder="Contraseña"
                        formControlName="contrasena" />
                    <div *ngIf="getControl.contrasena.invalid && getControl.contrasena.touched" class="text-danger">
                        <div *ngIf="getControl.contrasena.errors?.required">
                            Contraseña requerida.
                        </div>
                    </div>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg"
                        [disabled]="loginForm.invalid">Ingresar</button>
                </div>
                <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                    ¿No eres miembro todavía? Clic <a routerLink="/register">aqui</a> Puedes registrarte.
                </div>
                <hr />
                <p class="text-center text-grey-darker mb-0">
                    Almacen Todos los derechos reservados 2021
                </p>
            </form>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>
<!-- end login -->


<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
        class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->