<!-- begin register -->
<div class="register register-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-15.jpg)"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Almacen</b> Admin App</h4>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin register-header -->
        <h1 class="register-header">
            Inscribirse
        </h1>
        <!-- end register-header -->
        <!-- begin register-content -->
        <div class="register-content">
            <form (ngSubmit)="crearUsuario()" class="margin-bottom-0" autocomplete="off" [formGroup]="registerForm">
                <label class="control-label">Nombre <span class="text-danger">*</span></label>
                <div class="row row-space-10">
                    <div class="col-md-12 m-b-15">
                        <input type="text" class="form-control" formControlName="nombre" />
                        <div *ngIf="getControls.nombre.touched && getControls.nombre.invalid" class="text-danger">
                            <div *ngIf="getControls.nombre.errors?.required">
                                Nombre es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <label class="control-label">Correo <span class="text-danger">*</span></label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="email" class="form-control" formControlName="correo" />
                        <div *ngIf="getControls.correo.touched && getControls.correo.invalid" class="text-danger">
                            <div *ngIf="getControls.correo.errors?.required">
                                Correo requerido.
                            </div>
                            <div *ngIf="getControls.correo.errors?.email">
                                Debe ingresar un correo valido.
                            </div>
                        </div>
                    </div>
                </div>
                <label class="control-label">Contraseña <span class="text-danger">*</span></label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="password" class="form-control" formControlName="contrasena" />
                        <div *ngIf="getControls.contrasena.invalid && getControls.contrasena.touched"
                            class="text-danger">
                            <div *ngIf="getControls.contrasena.errors?.required">
                                Contraseña requerida.
                            </div>
                        </div>
                    </div>
                </div>
                <label class="control-label">Repetir Contraseña <span class="text-danger">*</span></label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="password" class="form-control" formControlName="contrasena2" />
                        <div *ngIf="getControls.contrasena2.touched && getControls.contrasena2.invalid"
                            class="text-danger">
                            <div *ngIf="getControls.contrasena2.errors?.required">
                                Contraseña requerida.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-b-15 text-danger">
                    <div class="col-md-12">
                        <div *ngIf="registerForm.errors?.noEsIgual">
                            Las contraseñas deben ser iguales.
                        </div>
                    </div>
                </div>
                <div class="register-buttons">
                    <button type="submit" [disabled]="registerForm.invalid"
                        class="btn btn-primary btn-block btn-lg">Inscribirse</button>
                </div>
                <div class="m-t-30 m-b-30 p-b-30">
                    ¿Ya eres usuario? Click <a routerLink="/login">aqui</a> iniciar sesión.
                </div>
                <hr />
                <p class="text-center mb-0">
                    &copy; Almacen Todos los derechos reservados 2021
                </p>
            </form>
        </div>
        <!-- end register-content -->
    </div>
    <!-- end right-content -->
</div>
<!-- end register -->