<!-- begin #page-container -->
<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">

    <!-- begin #header -->
    <app-header></app-header>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">

        <!-- begin breadcrumb -->
        <app-breadcrumbs></app-breadcrumbs>
        <!-- end breadcrumb -->

        <router-outlet></router-outlet>

    </div>
    <!-- end #content -->

</div>
<!-- end page container -->