<div class="row">
    <!-- begin panel -->
    <div class="col-12 col-md-6">
        <div class="panel panel-info">
            <div class="panel-body">
                Editar Perfil
                <form>
                    <div class="col-md-12">
                        <label>Nombre:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <label>Correo:</label>
                        <input type="text" class="form-control">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end panel -->
    <div class="col-12 col-md-6">
        <div class="panel panel-info">
            <div class="panel-body">
                Cambiar Contraseña
            </div>
        </div>
    </div>
    <!-- end panel -->
</div>