<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" data-disable-slide-animation="true">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="./assets/img/user/user-14.jpg" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>Luis Arispe
                        <small>Front end developer</small>
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="javascript:;"><i class="fa fa-cog"></i> Editar Perfil</a></li>
                </ul>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navegación</li>
            <li class="has-sub" *ngFor="let menu of menus">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="material-icons">{{menu.icono}}</i>
                    <span>{{menu.titulo}} <span class="label label-theme">{{menu.submenu.length}}</span></span>
                </a>
                <ul class="sub-menu">
                    <li *ngFor="let submenu of menu.submenu"><a [routerLink]="submenu.url">{{submenu.titulo}}</a></li>
                </ul>
            </li>
            <li>
                <a href="widget.html">
                    <i class="material-icons">extension</i>
                    <span>Widgets <span class="label label-theme">NEW</span></span>
                </a>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                        class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->